/*
Generando una sombra para el título (Text-shadow)
Para crear sombras para figuras irregulares como textos, existe una propiedad 
especial llamada text-shadow.

Los valores que podemos declarar son:

El color de la sombra.
La distancia horizontal y vertical de la sombra con respecto al objeto.
El radio de difuminación.

En el ejemplo una sombra azul fue aplicada al título con una distancia de 3 pixeles y un radio de difuminación de 5.

Para otros colores ver: http://html-color-codes.info/codigos-de-colores-hexadecimales/

*/

body 
{
	text-align: center;
}

#principal 
{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid #999999;
	background: #DDDDDD;

}

#titulo_principal
{
	font: bold 20px verdana, sans-serif;
	text-shadow: rgb(0,0,150) 3px 3px 5px;
}

#titulo_secundario
{
	font: bold 20px verdana, sans-serif;
	text-shadow: rgb(0,0,150) 0px 3px 10px;
}

#titulo_terciario
{
	font: bold 20px verdana, sans-serif;
	text-shadow: rgb(0,0,150) 3px 0px 15px;
}
